    <!-- ========== Left Sidebar Start ========== -->
    <div class="left-side-menu">

        <div class="slimscroll-menu">

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">

                  

                    <li>
                        <a routerLink="/">
                            <i class="fe-airplay"></i>
                          
                            <span> لوحة القيادة </span>
                        </a>
                       
                    </li>




                    
                    <li>
                        <a routerLink="/categorie">
                            <i class="fe-sidebar"></i>
                            <span> إدارة الفئات </span>
                          
                        </a>
                       
                    </li>

                    <li>
                        <a routerLink="/join">
                            <i class="fe-sidebar"></i>
                            <span>  ادارة مطالب الانضمام </span>
                          
                        </a>
                       
                    </li>


                    <li>
                        <a routerLink="/groupe">
                            <i class="fe-sidebar"></i>
                            <span>  إدارة المجموعات </span>
                          
                        </a>
                       
                    </li>

                    <li>
                        <a routerLink="/question">
                            <i class="fe-sidebar"></i>
                            <span>  إدارة الأسئلة </span>
                          
                        </a>
                       
                    </li>


                    

                    <li>
                        <a (click)="_data.logoutUser()">
                            <i class="fe-sidebar"></i>
                            <span>  تسجيل خروج  </span>
                          
                        </a>
                       
                    </li>

        
                </ul>

            </div>
            <!-- End Sidebar -->

      

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
