     <!-- Start Content-->
     <div class="container-fluid">
                        
        <!-- start page title -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right">
                     
                    </div>
                    <h4 class="page-title">لوحة القيادة</h4>
                </div>
            </div>
        </div>     
        <!-- end page title --> 

        <div class="row">

            <div class="col-xl-6 col-sm-6">
                <div class="card-box widget-box-two widget-two-custom">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account-multiple avatar-title font-30 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" title="Statistics">إجمالي المجموعات</p>
                            <h3 class="font-weight-medium my-2"> <span data-plugin="counterup">{{groupes.length}}</span></h3>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-6 col-sm-6">
                <div class="card-box widget-box-two widget-two-custom ">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-account avatar-title font-30 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" title="Statistics">إجمالي الزوار</p>
                            <h3 class="font-weight-medium my-2"> <span data-plugin="counterup">{{users.length}}</span></h3>
                          
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-6 col-sm-6">
                <div class="card-box widget-box-two widget-two-custom ">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-crown avatar-title font-30 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" title="Statistics">فئات</p>
                            <h3 class="font-weight-medium my-2"><span data-plugin="counterup">{{categories.length}}</span></h3>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->

            <div class="col-xl-6 col-sm-6">
                <div class="card-box widget-box-two widget-two-custom ">
                    <div class="media">
                        <div class="avatar-lg rounded-circle bg-primary widget-two-icon align-self-center">
                            <i class="mdi mdi-auto-fix  avatar-title font-30 text-white"></i>
                        </div>

                        <div class="wigdet-two-content media-body">
                            <p class="m-0 text-uppercase font-weight-medium text-truncate" title="Statistics">إجمالي المشاركات</p>
                            <h3 class="font-weight-medium my-2"><span data-plugin="counterup">{{posts.length}}</span></h3>
                            
                        </div>
                    </div>
                </div>
            </div>




        </div>
        <!-- end row -->    



    </div> <!-- end container-fluid -->